{% extends 'base.html.twig' %}

{% set productUrl = url('product_detail', { '_category': product.category.urlName, '_url_name': product.urlName, '_id': product.id }, false) %}
{# {{ url('product_detail', route_parameters = [{ '_category': product.category.urlName, '_url_name': product.urlName, '_id': product.id }], schemeRelative = false) }}#}

{% block seo %}
<title>{% block title %}{{ product.name }} - {{ product.category.name }}{% endblock %}</title>
<meta name="description" content="{{ product.description }}">
<script type='application/ld+json'>
{
    "@context": "http://www.schema.org",
    "@type": "WebSite",
    "name": "{{ product.name }}",
    "alternateName": "{{ product.name }}",
    "url": "{{ productUrl }}",
    "description": "{{ product.description }}"
}
</script>
<link rel="canonical" href="{{ productUrl }}"/>
{% endblock %}

{% block opengraph %}
{{ include('default/opengraph.html.twig', {title: product.name, description: product.description, img: product.image, imgalt: product.name, url: productUrl}) }}
{% endblock %}

{% block twittercard %}
{{ include('default/twittercard.html.twig', {title: product.name, description: product.description, img: product.image, imgalt: product.name, url: productUrl}) }}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<!-- Custom styles for this template -->
{#     <link href="https://getbootstrap.com/docs/4.4/examples/product/product.css" rel="stylesheet">#}
    <link href="{{ asset('css/product.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">{{ product.name }}</h1>
    <p class="lead font-weight-normal alert alert-success font-weight-bold border" role="alert" id="price">
    {{ product.currency.symbol}}
    {% if product.specialPrice %}
        <script>
        $(document).ready(function() {
            $("#price").addClass("border-danger");
        })
        </script>
        {{ product.specialPrice|localizedcurrency('COP') }}
    {% elseif product.oldPrice %}
        <script>
        $(document).ready(function() {
            $("#price").addClass("border-dark");
        })
        </script>
        {{ product.oldPrice|localizedcurrency('COP') }}
    {% else %}
        <script>
        $(document).ready(function() {
            $("#price").addClass("border-primary");
        })
        </script>
        {{ product.price|localizedcurrency('COP') }}
    {% endif %}
    </p>
    <div class="row justify-content-center">
        {{ include('default/fb-share.html.twig', {url: path('product_detail', { '_category': product.category.urlName, '_url_name': product.urlName, '_id': product.id}), btnclass: 'btn btn-primary' } ) }}
        {{ include('default/tw-share.html.twig', {url: path('product_detail', { '_category': product.category.urlName, '_url_name': product.urlName, '_id': product.id}), btnclass: 'btn btn-primary' } ) }}
    </div>
{#     <a class="btn btn-outline-secondary" href="#">Coming soon</a>#}
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
<!-- Page Content -->
<div class="container">
    <!-- Heading Row -->
    <div class="row my-4">
        <div class="col-lg-4">
            <img class="img-fluid rounded mx-auto d-block" src="{{ asset(product.image) }}" alt="{{ product.name }}">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-8">
{#             <h1>Business Name or Tagline</h1>#}
            <p>{{ product.longDescription|raw }}</p>
{#             <a class="btn btn-primary btn-lg btn-block" href="{{ product.url }}" target="_blank">Comprar en {{ product.store.name }}</a>#}
        </div>
        <div class="col-lg-12">
            <h2>Especificaciones y características</h2>
            <p>{{ product.description|raw }}</p>
            <a class="btn btn-primary btn-lg btn-block" href="{{ product.url }}" target="_blank">Comprar en {{ product.store.name }}</a>
        </div>
    <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary my-4 text-center">
        <div class="card-body">
            <p class="text-white m-0">Ver más {{ product.category.name }} en 
                <a href="{{ product.brand.url }}" target="_blank" type="button" class="text-warning stretched-link">{{ product.brand.name }}</a>
            </p>
        </div>
    </div>

    {{ include("ads/in-article.html.twig") }}

    {{ include("controller/product_detail/featured.html.twig") }}
    
</div>
<!-- /.container -->
{% endblock %}