{% extends 'base.html.twig' %}

{% block body %}
{#     {{ include('default/carousel.html.twig') }}#}
    <!-- Page Content -->
    <div class="container">

    	{{ include('timeshare/deals.html.twig') }}

        {{ include('default/stores.html.twig') }}

        {{ include('default/ofertas.html.twig') }}

        {{ include('default/movies.html.twig') }}

{#         {{ include('default/travels.html.twig') }}#}

{#         {{ include('default/music-videos.html.twig') }}#}

    </div>
    <!-- /.container -->
{% endblock %}