{% extends 'base.html.twig' %}

{% block body %}
{#     {{ include('default/carousel.html.twig') }}#}
    <!-- Page Content -->
    <div class="container">

{#         {{ include('default/information.html.twig') }}#}

        {{ include('ads/search.html.twig') }}

        {{ include('ads/amazon/products.html.twig') }}

        {% for category in categories %}
            {% include 'default/deals-by-category.html.twig' with {products: products, category: category} %}
        {% endfor %}

        {{ include('default/highlight.html.twig') }}

{#     	{{ include('timeshare/deals.html.twig') }}#}

        {{ include('default/stores.html.twig') }}

{#         {{ include('default/ofertas.html.twig') }}#}

{#         {{ include('default/movies.html.twig') }}#}

{#         {{ include('default/last-news.html.twig') }}#}

{#         {{ include('default/travels.html.twig') }}#}

{#         {{ include('default/music-videos.html.twig') }}#}

{#         {{ include('default/sticky-social-icons.html.twig') }}#}

{#         {{ include('default/subscribe.html.twig') }}#}

        {{ include('ads/amazon/native-shopping-ads.html.twig') }}

{#         {{ include('ads/amazon/banners/728x90.html.twig') }}#}

    </div>
    <!-- /.container -->

{% endblock %}

