<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">{{ seo.name }}</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav m-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('category', {'_category': 'celulares'}) }}">Celulares</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('category', {'_category': 'televisores'}) }}">Televisores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('category', {'_category': 'computadores'}) }}">Computadores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('category', {'_category': 'videojuegos'}) }}">Videojuegos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('category', {'_category': 'lavadora-secadora'}) }}">Lavadoras / Secadoras</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('stores_page') }}">Tiendas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('deals_page') }}">Ofertas</a>
            </li>
{#                 <li class="nav-item dropdown">#}
{#                   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                     Viajes#}
{#                   </a>#}
{#                   <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">#}
{#                     <a class="dropdown-item" href="blog-home-1.html">Vuelos</a>#}
{#                     <a class="dropdown-item" href="blog-home-2.html">Hoteles</a>#}
{#                     <a class="dropdown-item" href="blog-post.html">Paquetes</a>#}
{#                   </div>#}
{#                 </li>#}
{#                 <li class="nav-item dropdown">#}
{#                   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                     Estrenos#}
{#                   </a>#}
{#                   <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">#}
{#                     <a class="dropdown-item" href="portfolio-1-col.html">Películas</a>#}
{#                     <a class="dropdown-item" href="portfolio-2-col.html">Música</a>#}
{#                   </div>#}
{#                 </li>#}
{#                 <li class="nav-item dropdown">#}
{#                   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                     Other Pages#}
{#                   </a>#}
{#                   <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">#}
{#                     <a class="dropdown-item" href="full-width.html">Full Width Page</a>#}
{#                     <a class="dropdown-item" href="sidebar.html">Sidebar Page</a>#}
{#                     <a class="dropdown-item" href="faq.html">FAQ</a>#}
{#                     <a class="dropdown-item" href="404.html">404</a>#}
{#                     <a class="dropdown-item" href="pricing.html">Pricing Table</a>#}
{#                   </div>#}
{#                 </li>#}
            <li class="nav-item">
                <a class="list-group-item list-group-item-action list-group-item-info" href="{{ path('cyberlunes_page') }}">Cyber Lunes 2020</a>
            </li>
            <li class="nav-item">
                <a class="list-group-item list-group-item-action list-group-item-success" href="{{ path('blackfriday_page') }}" title="black friday">Black Friday 2020</a>
            </li>
        </ul>
    </div>
</nav>
{# <nav class="navbar-vertical navbar-glass navbar navbar-expand-xl navbar-light fixed-top justify-content-end">#}
{#     <div class="btn-group-vertical btn-group-sm justify-content-end" role="group">#}
{#         {{ include('default/fb-like.html.twig') }}#}
{#         {{ include('default/tw-follow.html.twig') }}#}
{#     </div>#}
{# </nav>#}

<div class="m12 s12 col center" style="text-align:center">
{# <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" type="ecb46c3624969bdb71b11d70-text/javascript"></script>  #}
    <ins class="adsbygoogle" 
        style="display:inline-block;
        width:970px;height:90px" 
        data-ad-client="ca-pub-1806990656415176" 
        data-ad-slot="8825906382"></ins> 
    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
</div>
