<!-- Portfolio Section -->
<h2 class="pb-3 mb-4 font-italic border-bottom">Las mejores ofertas</h2>

<div class="row">
    {% for deal in deals[:6] %}
    <div class="col-lg-4 col-sm-6 portfolio-item" itemscope itemtype="http://schema.org/Product">
        <div class="card h-100">
            <a href="{{ deal.link }}" target="_blank"><img itemprop="image" class="card-img-top" src="{{ deal.img }}" alt="{{ deal.title|raw }}"></a>
            <div class="card-body">
                <h4 itemprop="name" class="card-title">
                    <a href="{{ deal.link }}" target="_blank">{{ deal.title|raw }}</a>
                </h4>
                <p itemprop="description" class="card-text">{{ deal.description|raw }}</p>
                <p class="text-right font-weight-bold p-2 mb-2 bg-light text-dark text-uppercase">{{ deal.store }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!-- /.row -->