<h1 class="my-4">Online Stores más importantes</h1>
<!-- Marketing Icons Section -->
<div class="row">
    <div class="col-lg-3 col-sm-6 mb-3">
        <div class="card h-100">
            <h4 class="card-header">Adidas</h4>
            <div class="card-body store adidas">
                <p class="card-text">{{ stores.adidas.description }}</p>
            </div>
            <div class="card-footer">
                <a href="{{ stores.adidas.link }}" class="btn btn-primary" target="_blank">Ir a la tienda...</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-3">
        <div class="card h-100">
            <h4 class="card-header">Sony</h4>
            <div class="card-body store sony">
                <p class="card-text">{{ stores.sony.description }}</p>
            </div>
            <div class="card-footer">
                <a href="{{ stores.sony.link }}" class="btn btn-primary" target="_blank">Ir a la tienda...</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-3">
        <div class="card h-100">
            <h4 class="card-header">Falabella</h4>
            <div class="card-body store falabella">
                <p class="card-text">{{ stores.falabella.description }}</p>
            </div>
            <div class="card-footer">
                <a href="{{ stores.falabella.link }}" class="btn btn-primary" target="_blank">Ir a la tienda...</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-3">
        <div class="card h-100">
            <h4 class="card-header">Ktronix</h4>
            <div class="card-body store ktronix">
                <p class="card-text">{{ stores.ktronix.description }}</p>
            </div>
            <div class="card-footer">
                <a href="{{ stores.ktronix.link }}" class="btn btn-primary" target="_blank">Ir a la tienda...</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-3">
        <div class="card h-100">
            <h4 class="card-header">Linio</h4>
            <div class="card-body store linio">
                <p class="card-text">{{ stores.linio.description }}</p>
            </div>
            <div class="card-footer">
                <a href="{{ stores.linio.link }}" class="btn btn-primary" target="_blank">Ir a la tienda...</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-3">
        <div class="card h-100">
            <h4 class="card-header">Freeport Store</h4>
            <div class="card-body store freeportstore">
                <p class="card-text">{{ stores.freeportstore.description }}</p>
            </div>
            <div class="card-footer">
                <a href="{{ stores.freeportstore.link }}" class="btn btn-primary" target="_blank">Ir a la tienda...</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-3">
        <div class="card h-100">
            <h4 class="card-header">Baogela Watches</h4>
            <div class="card-body store baogela">
                <p class="card-text">{{ stores.baogelawatches.description }}</p>
            </div>
            <div class="card-footer">
                <a href="{{ stores.baogelawatches.link }}" class="btn btn-primary" target="_blank">Ir a la tienda...</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-3">
        <div class="card h-100">
            <h4 class="card-header">Dafiti</h4>
            <div class="card-body store dafiti">
                <p class="card-text">{{ stores.dafiti.description }}</p>
            </div>
            <div class="card-footer">
                <a href="{{ stores.dafiti.link }}" class="btn btn-primary" target="_blank">Ir a la tienda...</a>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->