<div class="row my-4 pb-3 mb-4 border-bottom">
    <h1 class="font-italic col">Tiendas en línea</h1>
    <p class="text-muted text-right col font-weight-light m-auto">{{ "now"|localizeddate('full', 'none', 'es', 'America/Bogota') }}</p>
</div>
<!-- Marketing Icons Section -->
<div class="row">
    {% for store in stores[:8] %}
        <div class="col-lg-3 col-sm-6 mb-3">
            <div class="card h-100">
                <h4 class="card-header">{{ store.name }}</h4>
                <div class="card-body store {{ store.css }}">
                    <p class="card-text">{{ store.description }}</p>
                </div>
                <div class="card-footer">
                    <a href="{{ store.link }}" class="btn btn-primary" target="_blank">Ir a la tienda...</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% set vars = {
'title': 'Tiendas en línea',
'description': 'Ver la lista completa de <strong>Tiendas en Línea</strong> con los mejores descuentos, excelentes ofertas y productos del momento.',
'destiny': 'Stores',
'routename': 'stores_page'
} %}
{% include 'default/cta.html.twig' with { 'cta_data': vars } %}
<!-- /.row -->